/* Alginment of about.html section with fonts and many other properties  */

.about-section {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-top: 40%;
  margin-left: 10px;
  width: 350px;
  height: 210px;
}
.about-section h2 {
  margin-bottom: 10px;
}

.about-section button {
  display: flex;
  font-size: 15px;
  color: #063c52;
  justify-content: center;
  margin-top: 15px;
  width: 75px;
  border-radius: 5px;
  background-color: #e4f392;
  border: #e4f392;
}

.about-section-circle {
  display: flex;
}

.about-section-circle :nth-child(1) {
  position: absolute;
  bottom: 10px;
  top: 10%;
  width: 35px;
  height: 35px;
  z-index: -1;
  transform: translateX(3em);
}
.about-section-circle :nth-child(2) {
  position: absolute;
  bottom: 10px;
  top: 18%;
  width: 25px;
  height: 25px;
  z-index: -1;
  transform: translateX(15em);
}
.about-section-circle :nth-child(3) {
  position: absolute;
  bottom: 10px;
  top: 45%;
  width: 15px;
  height: 15px;
  z-index: -1;
  transform: translateX(21em);
}
.about-section-circle :nth-child(4) {
  position: absolute;
  bottom: 10px;
  top: 58%;
  width: 35px;
  height: 35px;
  z-index: -1;
  transform: translateX(14em);
}
.about-section-circle :nth-child(5) {
  position: absolute;
  bottom: 10px;
  top: 72%;
  width: 15px;
  height: 15px;
  z-index: -1;
  transform: translateX(5em);
}
.about-section-circle :nth-child(6) {
  position: absolute;
  bottom: 10px;
  top: 83%;
  width: 20px;
  height: 20px;
  z-index: -1;
  transform: translateX(12em);
}
.about-section-circle :nth-child(7) {
  position: relative;
  top: 45%;
  width: 30px;
  height: 30px;
  z-index: -1;
  transform: translateX(1em);
}
