.contact-section h1 {
  display: flex;
  justify-content: center;
  margin-top: 1.8em;
  color: #fff;
}

.contact-section article {
  width: 285px;
  height: 400px;
  background-color: #e4f392;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 4em;
  left: 50%;
  transform: translateX(-50%);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.contact-form input {
  padding-left: 5px;
  border-radius: 5px;
  background-color: #063c52;
}

.contact-form :nth-child(-n + 5) {
  height: 30px;
}
.contact-form :nth-child(7) {
  width: 200px;
  height: 60px;
}

#submit {
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

input::placeholder {
  color: #fff;
}
