/* Project styling for project.html */

#project-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
}

#project-h1 {
  position: absolute;
  top: 10%;
}

#header-h1 {
  position: fixed;
  top: 50px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.demo-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #063c52;
  border: solid #e4f392 2px;
  background-color: #e4f392;
  margin-top: 10px;
  width: 260px;
  height: 140px;
  gap: 15px;
  font-size: 1.2em;
  border-radius: 10px;
}

.demo button {
  color: #e4f392;
  font-family: "Poppins", sans-serif;
  background-color: #063c52;
  width: 100px;
  border-radius: 10px;
}
