/* Main content/Homepage Section media query at 768px */

@media only screen and (min-width: 768px) {
  .main-content-section {
    position: relative;
    top: 175px;
    margin: 0 auto;
    width: 500px;
  }

  .container div {
    position: absolute;
    width: 25px;
    height: 25px;
  }

  .container :nth-child(1) {
    left: -100px;
  }
  .container :nth-child(2) {
    right: 200px;
  }
  .container :nth-child(3) {
    display: none;
  }
  .container :nth-child(4) {
    left: 200px;
  }

  .container :nth-child(5) {
    left: 95px;
  }
  .container :nth-child(6) {
    left: -100px;
  }
  .container :nth-child(7) {
    left: -150px;
  }

  .circle-one {
    transform: translate(-2px, -45px);
  }
  .circle-two {
    transform: translate(50px, -20px);
  }
}

/* Header Section Media query at 768px */

@media only screen and (min-width: 768px) {
  .nav-links {
    top: 125px;
  }
  .nav-links .link {
    font-weight: 200;
    font-size: 1.8em;
  }
}

/* Project Section Media Query at 768px */
@media only screen and (min-width: 768px) {
  #project-h1 {
    font-size: 1.8em;
    font-weight: 500;
  }
  .demo {
    width: 400px;
  }
}

/* About Section Media Query at 768px */

@media only screen and (min-width: 768px) {
  .about-section {
    position: relative;
    width: 600px;
    top: 150px;
    margin: 0 auto;
  }

  .about-section-circle :nth-child(1) {
    transform: translateY(-7em);
  }
  .about-section-circle :nth-child(2) {
    transform: translateY(15em);
  }
  .about-section-circle :nth-child(3) {
    margin-top: 30%;
  }
  .about-section-circle :nth-child(4) {
    position: relative;
    top: 100px;
  }
  .about-section-circle :nth-child(5) {
    margin-top: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .contact-section article {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .circle-one,
  .circle-two {
    display: none;
  }

  .icon {
    display: none;
  }

  .nav-links {
    display: flex;
    color: white;
  }

  .nav-links .link {
    color: aliceblue;
    font-size: 10px;
  }
}

@media only screen and (max-width: 1023px) {
  .navbar-2 {
    display: none;
  }

  .main-content-circle {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #header-h1 {
    display: none;
  }

  .navbar {
    display: none;
  }

  .container {
    display: none;
  }

  .main-content-section {
    margin: 0 auto;
    position: relative;

    top: 95px;
    width: 100%;
    bottom: 500px;
  }

  .main {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  .main-content-circle {
    background-color: #e4f392;
    width: 450px;
    height: 450px;
    border: solid black 2px;
    border-radius: 50%;
  }

  #project-h1 {
    top: 22%;
  }

  .demo-project-container {
    display: flex;
    flex-direction: row;
    max-width: 75%;
    margin: 0 auto;
    gap: 20px;
  }

  .demo {
    margin-top: 185px;
    height: 275px;
  }

  .about-section-circle {
    display: none;
  }

  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    width: 900px;
  }

  #about-me-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
  }

  #about-section-paragraph {
    font-size: 1.5em;
    padding-left: 50px;
    width: 750px;
    font-weight: 200;
  }

  #contact-section-h1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 300px;
    left: 50px;
    margin: 0 auto;
    width: 400px;
  }
  #contact-section-info {
    position: relative;
    right: 200px;
  }

  .contact-section article {
    width: 550px;
  }
  .contact-form {
    width: 300px;
  }

  #comments {
    margin: 0 auto;
    width: 300px;
  }
}
